/* header section */

header {
    flex-direction: column;
    padding-bottom: 12px;
}

#navbar ul {
    margin: 3px;
    font-size: 0.95rem;
}



/* home section */
#home p {
    font-size: 1rem;
}

#home::before {
    height: 419px;
}


/* service section */
#services {
    flex-direction: column;
}

#services .box img {
    height: 70px;
}


/* clients section */
#clients {
    flex-wrap: wrap;
    margin: 10px 10px;
}

#clients img {
    width: 51px;
}

#clients .client-item {
    margin: 5px 20px;
}

/* contact us section */
#contact-box form {
    width: 63%;
}

/* footer section */
footer {
    font-size: 0.7rem;
}


/* utility */
.h-primary {
    font-size: 1.6rem;
    padding: 7px;
}

.h-secondary {
    font-size: 1.2rem;
    padding: 6px;
}